@model GFPT.Extension.Paging.Std20.HelperPaging<Receiving.Models.HR_PR_EquipmentClaimRate>
@{
    Receiving.Models.Search Search = ViewBag.Search ?? null;
    var TotalItems = Model?.TotalItems;
}
@section Css{
    <style>
        .color-green {
            color: green !important;
        }

        .color-brown {
            color: saddlebrown !important;
        }

        span {
            border-color: black !important;
        }
    </style>
}
<div class="container-xl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="get" id="formSearch">
                        <input type="hidden" id="statusPage" name="statusPage" value="@Search.statusPage" />
                        <input type="hidden" id="page" name="page" />
                        <input type="hidden" id="sorting" name="sorting" value="@Search.sorting" />
                        <input type="hidden" id="currentSort" name="currentSort" value="@ViewBag.CurrentSort" />
                        <!-- กลุ่มที่ 1 -->
                        <div class="row g-3 align-items-center">
                            <div class="col-md-1 text-end">
                                <label class="form-label w-100">ชื่อ/รหัส :</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="RunningID" value="@Search.RunningID" autocomplete="off">
                            </div>

                            <div class="col-md-1 text-end">
                                <label class="form-label w-100">สถานะ :</label>
                            </div>
                            <div class="col-md-2">
                                <select id="TypeID" name="TypeID" class="form-select" asp-items="@ViewBag._typedaystatus">
                                    <option value="">ทั้งหมด</option>
                                </select>

                            </div>

                            <div class="col-md-1 text-end">
                            </div>


                            <div class="col-md-5 text-start">

                                <button type="submit" class="btn btn-info me-1">
                                    <i class="ti ti-search"></i> ค้นหา
                                </button>

                                <a href="javascript:void(0);"
                                   class="btn btn-outline-warning  "
                                   onclick="Add('A')">
                                    <i class="ti ti-plus"></i> เพิ่มข้อมูล
                                </a>
                               
                                <a href='@Url.Action("Index","Home")' class="btn btn-outline-danger" role="button"><i class="mdi mdi-close-circle-outline"></i> ปิดหน้านี้</a>


                            </div>
                        </div>

                        <!-- กลุ่มที่ 2 -->

                    </form>



                    <div class="mt-4 mb-3">
                        <span>แสดงทั้งหมด <strong>@Model?.Items?.Count()</strong> รายการ จาก <strong>@Model?.TotalItems</strong> รายการ</span>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>รหัส</th>
                                   
                                    <th>จำนวน</th>
                                    <th>สถานะ</th>
                                    <th>ผู้บันทึก</th>
                                    <th>แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model?.Items != null)
                                {
                                    @foreach (var item in Model.Items)
                                    {
                                        <tr>
                                            <td class="text-left  ">
                                                @item?.ClaimRateID
                                            </td>
                                            
                                            <td class="text-left  ">
                                                @item?.ClaimRateNumber
                                            </td>
                                            <td class="text-center">
                                                @if (item.UsageStatus == true)
                                                {
                                                    <i class="ti ti-check text-success"></i>
                                                }
                                                else
                                                {
                                                    <i class="ti ti-x text-danger"></i>
                                                }
                                            </td>
                                            <td class="text-left  ">
                                                @item?.EditName - @item?.EditDate
                                            </td>

                                            <td class="text-center  ">
                                                <a href="javascript:void(0);"
                                                   class="btn btn-icon btn-outline-primary btn-sm"
                                                   title="แก้ไข"
                                                   onclick="Edit('@item.ClaimRateID','@item?.ClaimRateNumber','@item?.UsageStatus' )">
                                                    <i class="ti ti-edit"></i>
                                                </a>

                                            </td>
                                        </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>

                    @if (Model?.EndPage > 1)
                    {
                        <div class="mt-3">
                            <ul class="pagination">
                                @if (Model.CurrentPage > 1)
                                {
                                    <li class="page-item">
                                        <a class="page-link" onclick="SearchByPage('1');">หน้าแรก</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" onclick="SearchByPage('@(Model.PreviousPage)');">ย้อนกลับ</a>
                                    </li>
                                }
                                @for (var page = Model.StartPage; page <= Model.EndPage; page++)
                                {
                                    int count = page;
                                    <li class="page-item @(page == Model.CurrentPage ? "active" : "")">
                                        <a class="page-link" onclick="SearchByPage('@count');">@count</a>
                                    </li>
                                }
                                @if (Model?.CurrentPage < Model?.TotalPages)
                                {
                                    <li class="page-item">
                                        <a class="page-link" onclick="SearchByPage('@(Model.NextPage)');">หน้าต่อไป</a>
                                    </li>
                                    <li class="page-item">
                                        <a class="page-link" onclick="SearchByPage('@(Model.TotalPages)');">หน้าสุดท้าย</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal modal-blur fade" id="modal-form" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">เพิ่ม/แก้ไข</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="ปิด"></button>
            </div>
            <div class="modal-body">

                <div class="mb-3">
                    <label class="form-label">รหัส</label>
                    <div class="form-control-plaintext" id="txtID"></div>
                </div>


                <div class="mb-3">
                    <label class="form-label">จำนวน</label>
                    <input type="text" class="form-control" id="txtName" name="Name" placeholder="กรอกจำนวน">
                </div>

                <div class="mb-3">
                    <label class="form-label">สถานะ</label>
                    <select class="form-select" name="Status" id="selStatus">
                        <option value="1">ใช้งาน</option>
                        <option value="0">ไม่ใช้งาน</option>
                    </select>
                </div>
                <div class="mb-3">
                  
                </div>

            </div>
            <div class="modal-footer justify-content-center">
                <button type="button" class="btn btn-primary" onclick="SaveData()">บันทึก</button>
                <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">ปิด</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/dist/libs/litepicker/dist/litepicker.js"></script>

    <script> 

        function SaveData() {
           var s = "A";
            if ($("#txtID").text() != "") { 
                s = "E";
            }

             $("#modal-form").modal("hide");
            var item = {
                ClaimRateID: $("#txtID").text(),
                ClaimRateNumber: $("#txtName").val(),
                UsageStatus: $("#selStatus").val() === "1", // แปลงเป็น bool
                status: s
            };

            $.ajax({
                url: '@Url.Action("SaveClaimRate", "ReceivingEq")'  ,
                type: 'POST',
                data: item,
                success: function (res) {
                    if (res.success) {
                        showSuccess("บันทึกสำเร็จ!");
                        $("#modal-form").modal("hide");
                        location.reload(); // หรืออัปเดตตารางเฉพาะแถว
                    } else {
                        showWarning("ผิดพลาด: " + res.message);
                    }
                },
                error: function (xhr, status, error) {
                    showWarning("เกิดข้อผิดพลาด: " + error);
                }
            });
        }

        function Add(s) {

            $("#selStatus").val("1");
            $("#txtID").text("");
            $("#txtName").val("");
            $("#modal-form").modal("show");




        }
        function Edit(id, n, usestatus) {
            $("#modal-form").modal("show");

            if (usestatus == "True") {
                $("#selStatus").val("1");
            } else {

                $("#selStatus").val("0");
            }
            $("#txtID").text(id);
            $("#txtName").val(n);
        }

        document.querySelectorAll('.DateInput').forEach(function (el) {
            new Litepicker({
                element: el,
                format: 'DD/MM/YYYY',
                lang: 'th',
                autoApply: true,
                dropdowns: {
                    minYear: 2000,
                    maxYear: new Date().getFullYear() + 5,
                    months: true,
                    years: true
                },
                setup: (picker) => {
                    picker.on('render', () => {
                        // เพิ่ม class สำหรับแต่งสีเอง
                        document.querySelectorAll('.litepicker').forEach(el => {
                            el.classList.add('custom-datepicker-style');
                        });
                    });
                }
            });
        });
      var status = "";
        function SearchByPage(pager) {
            $("#page").val(pager);
            var queryString = $("#formSearch").serialize();
            var url = '@Url.Action("ListClaimRate", "ReceivingEq")' + '?' + queryString ;
             ShowLoading();
             window.location.replace(url);
        }



    </script>
}