@model GFPT.Extension.Paging.Std20.HelperPaging<Receiving.Models.HR_PR_EquipmentZone>
@{
    Receiving.Models.Search Search = ViewBag.Search ?? null;
    var TotalItems = Model?.TotalItems;
}
@section Css{
    <style>
        .color-green {
            color: green !important;
        }

        .color-brown {
            color: saddlebrown !important;
        }

        span {
            border-color: black !important;
        }
        
    </style>
}
<div class="container-xl mt-4">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">@ViewData["Title"]</h3>
                </div>
                <div class="card-body">
                    <form method="get" id="formSearch">
                        <input type="hidden" id="statusPage" name="statusPage" value="@Search.statusPage" />
                        <input type="hidden" id="page" name="page" />
                        <input type="hidden" id="sorting" name="sorting" value="@Search.sorting" />
                        <input type="hidden" id="currentSort" name="currentSort" value="@ViewBag.CurrentSort" />
                        <!-- กลุ่มที่ 1 -->
                        <div class="row g-3 align-items-center">
                            <div class="col-md-1 text-end">
                                <label class="form-label w-100">ชื่อ/รหัส :</label>
                            </div>
                            <div class="col-md-2">
                                <input type="text" class="form-control" name="RunningID" value="@Search.RunningID" autocomplete="off">
                            </div>

                            <div class="col-md-1 text-end">
                                <label class="form-label w-100">สถานะ :</label>
                            </div>
                            <div class="col-md-2">
                                <select id="TypeID" name="TypeID" class="form-select" asp-items="@ViewBag._typedaystatus">
                                    <option value="">ทั้งหมด</option>
                                </select>

                            </div>

                            <div class="col-md-1 text-end">
                             </div>
                          

                            <div class="col-md-5 text-start">

                                <button type="submit" class="btn btn-info me-1">
                                    <i class="ti ti-search"></i> ค้นหา
                                </button>
                                <a href='@Url.Action("Index","Home")' class="btn btn-outline-danger" role="button"><i class="mdi mdi-close-circle-outline"></i> ปิดหน้านี้</a>


                                <a href='@Url.Action("CreateZone","ReceivingEq", new { TypeID = "001" })' class="btn btn-orange me-1" role="button">  <i class="ti ti-package"></i> เพิ่ม</a>

                            </div>
                        </div>

                        <!-- กลุ่มที่ 2 -->
                  
                    </form>



                    <div class="mt-4 mb-3">
                        <span>แสดงทั้งหมด <strong>@Model?.Items?.Count()</strong> รายการ จาก <strong>@Model?.TotalItems</strong> รายการ</span>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr class="text-center">
                                    <th>รหัส</th>
                                    <th>ชื่อ</th>

                                    <th>จำนวน Location</th>
                                    <th>สถานะ</th>
                                    <th>ผู้บันทึก</th>

                                    <th>แก้ไข</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model?.Items != null)
                                {
                                    @foreach (var item in Model.Items)
                                    {
                                <tr>
                                    <td class="text-left  ">
                                        @item?.ZoneID
                                    </td>
                                    <td class="text-left  ">
                                        @item?.ZoneName
                                    </td>

                                    <td class="text-left  ">
                                        @item.HR_PR_EquipmentLocation.Count
                                    </td>
                                    <td class="text-center">
                                        @if (item.UsageStatus == true)
                                        {
                                            <i class="ti ti-check text-success"></i>
                                        }
                                        else
                                        {
                                            <i class="ti ti-x text-danger"></i>
                                        }
                                    </td>
                                    <td class="text-left  ">
                                        @item?.EditName - @item?.EditDate
                                    </td>

                                    <td class="text-center  ">
                                        <a href="@Url.Action("CreateZone", "ReceivingEq" , new { ID = item.ZoneID})"
                                           class="btn btn-icon btn-outline-primary btn-sm" title="แก้ไข">
                                            <i class="ti ti-edit"></i>
                                        </a>

                                    </td>
                                </tr>
                                    }
                                }


                            </tbody>
                        </table>
                    </div>

                    @if (Model?.EndPage > 1)
                        {
                            <div class="mt-3">
                                <ul class="pagination">
                                    @if (Model.CurrentPage > 1)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" onclick="SearchByPage('1');">หน้าแรก</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" onclick="SearchByPage('@(Model.PreviousPage)');">ย้อนกลับ</a>
                                        </li>
                                    }
                                    @for (var page = Model.StartPage; page <= Model.EndPage; page++)
                                    {
                                        int count = page;
                                        <li class="page-item @(page == Model.CurrentPage ? "active" : "")">
                                            <a class="page-link" onclick="SearchByPage('@count');">@count</a>
                                        </li>
                                    }
                                    @if (Model?.CurrentPage < Model?.TotalPages)
                                    {
                                        <li class="page-item">
                                            <a class="page-link" onclick="SearchByPage('@(Model.NextPage)');">หน้าต่อไป</a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" onclick="SearchByPage('@(Model.TotalPages)');">หน้าสุดท้าย</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }

                </div>
            </div>
        </div>
    </div>
</div>

<div id="popupModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header modal-header-info">
                <h4 class="modal-title text-white header">เพิ่ม/แก้ไข</h4>
                <button type="button" class="close btn btn-default waves-effect" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="" style="padding:15px;border-bottom: 1px solid #e9ecef;">
                <div id="divSearch" class="row">
                    <div class="col-1">

                    </div>
                    <div class="col-2 text-right">
                        รหัสสินค้า : <span class="text-red">*</span>
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="ItemNo" class="form-control" autocomplete="off" />
                    </div>
                    <div class="col-2 text-right">
                        ชื่อสินค้า :
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="ItemName" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row m-t-10">
                    <div class="col-1">

                    </div>
                    <div class="col-2 text-right">
                        Mix:
                    </div>
                    <div class="col-2">
                        <input type="text" id="Mix" class="form-control" autocomplete="off" />


                    </div>
                    <div class="col-2 text-right">
                        น้ำหนัก :
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="Weight" class="form-control numbersOnlyWDigi" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row m-t-10">
                    <div class="col-1">

                    </div>
                    <div class="col-2 text-right">
                        หน่วย
                    </div>
                    <div class="col-2">
                        <input type="text" id="Unit" class="form-control" autocomplete="off" />

                    </div>
                    <div class="col-2 text-right">
                        CodeName
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="CodeName" class="form-control" autocomplete="off" />
                    </div>
                </div>

                <div class="form-group row m-t-10">
                    <div class="col-1">

                    </div>
                    <div class="col-2 text-right">
                        ชื่อสินค้า
                    </div>
                    <div class="col-2">
                        <input type="text" id="ProductName" class="form-control" autocomplete="off" />

                    </div>
                    <div class="col-2 text-right">
                        รหัสสูตร
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="RecipeCode" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row m-t-10">
                    <div class="col-1">

                    </div>
                    <div class="col-2 text-right">
                        Allergen
                    </div>
                    <div class="col-2">
                        <input type="text" id="Allergen" class="form-control" autocomplete="off" />

                    </div>
                    <div class="col-2 text-right">
                        รายละเอียดน้ำหนัก
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="WeightDetail" class="form-control" autocomplete="off" />
                    </div>
                </div>
                <div class="form-group row m-t-10">
                    <div class="col-1">

                    </div>
                    <div class="col-2 text-right">
                        BatchSize
                    </div>
                    <div class="col-2">
                        <input type="text" id="BatchSize" class="form-control" autocomplete="off" />

                    </div>
                    <div class="col-2 text-right">
                        MixNew
                    </div>
                    <div class="col-2 ">
                        <input type="text" id="MixNew" class="form-control" autocomplete="off" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class=" text-center col-12">
                    <button type="button" class="btn btn-success " onclick="Save();"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="button" class="btn btn-outline-danger waves-effect" data-dismiss="modal">ปิด</button>
                </div>

            </div>
        </div>
    </div>
</div>
@section scripts {
    <script src="~/dist/libs/litepicker/dist/litepicker.js"></script>

    <script>
        document.querySelectorAll('.DateInput').forEach(function (el) {
            new Litepicker({
                element: el,
                format: 'DD/MM/YYYY',
                lang: 'th',
                autoApply: true,
                dropdowns: {
                    minYear: 2000,
                    maxYear: new Date().getFullYear() + 5,
                    months: true,
                    years: true
                },
                setup: (picker) => {
                    picker.on('render', () => {
                        // เพิ่ม class สำหรับแต่งสีเอง
                        document.querySelectorAll('.litepicker').forEach(el => {
                            el.classList.add('custom-datepicker-style');
                        });
                    });
                }
            });
        });
      var status = "";
        function SearchByPage(pager) {  
            $("#page").val(pager);
            var queryString = $("#formSearch").serialize(); 
            var url = '@Url.Action("ListMasterZone", "ReceivingEq")' + '?' + queryString ;

             @*var url = '@Url.Action("ListMasterZone", "ReceivingEq")?critiria=' + critiria + "&usestatus=" + usestatus + "&page=" + pager ;*@
             ShowLoading();
             window.location.replace(url);
        }


       
    </script>
}